@media screen and (min-width: 864px){
    #icon_menuburguer{
        display: none;
    }
    #menu{
        border-top: none;
    }
    #cabecalho{
        margin: 0px;
    }
    .conteiner_nav{
        display: flex;
        
        align-items: center;
        width: 100%;
        margin-left: 30px;
    }
    .logoEmpresa{
        font-size: 300%;
        margin: 0;
        padding-right: 0%;
        
    }
    #apresentacao{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #imgApresentacao{
        height: 300px;
        width: 300px;
        
        transform: translate(0px);
        animation: float 2s ease-out infinite;
    }
    #textApresentation{
        font-family: var(--second-font);
        padding-right: 85px;    
        width: 450px;
        margin-top: 35px;
        font-size: 1.4rem;
    }
    #btn{
        margin-top: 80px;
        border: none;
        background-color: var(--redDark-color);
        border-radius: 100px;
        width: 300px;
        padding: 15px 40px;
        cursor: pointer;
        margin-left: 90px;
    }
    #text_sessao{
        font-size: 1.8em;
        width: 700px;
    }
    #linha{
        padding-right: 10px;
    }
    #linha:nth-child(3){
        border-right: 2px solid black;
        height: 0%;
    }
    .items_navbar{
        display: inline-block;
        width: 80vw;
        padding-right: 2%;
    }
    .line{
        width: auto;
        display: inline-block;
        margin-right: 20px;
        background-color: white;
        font-size: 120%;
        
    }
    .conteinerNav{
        width: 80vw;
        align-items: center;
        margin: auto;

    }
    
    #cont2{
        font-size: 140%;
        width: 130%;
        
    }

    

}
@media screen and (min-width: 1300px) {
   /* cards */
   .conteinerNav{
    padding-left: 45%;
   }
   .line{
    width: auto;
    display: inline-block;
    margin-right: 20px;
    background-color: white;
    font-size: 1.2em;
    }
    .line:hover{
        color: rgb(145, 145, 255);
    }
    #apresentacao{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 5%;
        gap: 10%;
    }

    #imgApresentacao{
        height: 500px;
        width: 500px;
        
        transform: translate(0px);
        animation: float 2s ease-out infinite;
    }
    #textApresentation{
        font-family: var(--second-font);
        padding-right: 85px;    
        width: 550px;
        margin-top: 35px;
        font-size: 1.8rem;
    }
    #btn{
        margin-top: 80px;
        border: none;
        background-color: var(--redDark-color);
        border-radius: 100px;
        width: 300px;
        padding: 15px 40px;
        cursor: pointer;
        margin-left: 140px;
    }
    #btn:hover{
        background-color: rgb(168, 23, 23);
    }
    #quemSomos{
        height: 100vh;
    }
   .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    height: 350px;
    width: 300px;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.548);
    cursor: pointer;
    
   }
   .text_cards2{
    font-size: 3em;
    padding-bottom: 50px;
   }
   #container_cards{
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 3px solid white;
   }
   .text_cards{
    font-family: var(--second-font);
    text-align: center;
    font-size: 4em;
    letter-spacing: -2px;
    font-weight: bolder;
    color: var(--redDark-color);
    padding-top: 50px;
    padding-bottom: 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.43);
    }

    .conteiner_atuacoes{
        display: flex;
        flex-direction: row;
        width: 350px;
        gap: 10px;
        font-size: 1.1em;
    }
    #atuacoes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .conteiner_atuacoes{
        margin: 10px;
    }
    #text_sessao{
        margin-top: 100px;
        width: 900px;
    }
}
