@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,300;1,500;1,600&display=swap');

/* mobile first */
.flex{
    display: flex;
}
/* estilização principal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    list-style: none;
    text-decoration: none

}

:root{
    --first-font:'Anton';   
    --second-font:'Poppins';
    --blue-color: #557DFF;
    --redDark-color: #541010;
    --gray-color: #505050;
    --blueGray-coloe:#14141E;
    --grayclear-color: #D9D9D9;
}
html body{
    height: 100vh;
    width: 100%;
}
.nav{
    font-family: var(--second-font);
    display: flex;
    justify-content: center;
    width: 100vw;
}
.line{
    display: flex;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.527);
    width: 100vw;
    margin: 1px 0;
    height: 30px;
}
a{
    color: #505050;
}
.sumir{
    display:none;
}
/* nav bar estilização */
header{
    padding-bottom: 0px;
}
#cabecalho{
    border-bottom: 3px solid var(--redDark-color);
}
#navbar{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 30px;
    margin: 10px 0;
    width: 95%;
}
#container_apresentação{
    height: 100vh;
    width: 100%;
    border: inset 1px 1px 10px black;
}
.logoEmpresa{
    font-size: 2.5rem;
    font-family: var(--first-font);
    color: var(--gray-color);
    margin-left: 10px;
    /* transform: translate(-60%); */
}
#icon_menuburguer{
    height: 4vh;
    /* transform: translate(-0%); */
}
/* conteúdo principal do header */
#apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: translate(-12%); */
}
#imgApresentacao{
    height: 300px;
    width: 300px;
    margin-top: 70px;
    transform: translate(0px);
    animation: float 2s ease-out infinite;
}
@keyframes float{
    0%{
        transform: translate(0px)
    }
    50%{
        transform: translate(-8px);
    }
    50%{
        transform: translate(8px);
    }
    100%{
        transform: translate(0px);
    }
}

/* texto */
#textApresentation{
    font-family: var(--second-font);
    text-align: center;    
    width: 350px;
    margin-top: 35px;
    font-size: 1.4rem;
}

.color_blue{
    color: var(--blue-color);
    
}
.color_gray{
    color: var(--gray-color);
}
/* butão */
#btn{
    margin-top: 80px;
    border: none;
    background-color: var(--redDark-color);
    border-radius: 100px;
    width: 300px;
    padding: 15px 20px;
    cursor: pointer;
}
#btn a{
    color: aliceblue;
    text-decoration: none;
    font-family: var(--second-font);
    font-weight: 900;
    font-size: 1.3rem;
    width: 100%;
    height: 100%;
}
/* campos de sessão  */
#quemSomos{
    height: 100%;
    width: 100vw;
    background-color: var(--grayclear-color);
    padding-bottom: 100px;
    box-shadow: inset 1px 1px 10px black;
}
.imgSize{
    padding-top: 10px;
    height: 90px;
}
/* cards */
#container_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid white;
}
.text_cards{
    font-family: var(--second-font);
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: -2px;
    font-weight: bolder;
    color: var(--redDark-color);
    padding-top: 80px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.43);
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    height: 350px;
    width: 300px;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.548);
    
}
.text_card{
    padding-top: 20px;
    text-align: center;
    font-family: var(--second-font);
    width: 270px;
}
/* segunda sesão */
.container{
    display: flex;
}
#servico{
    height: 100vh;
    width: 100%;

}
.text_cards2{
    color: var(--redDark-color);
    text-align: left;
    font-family: var(--second-font);
    font-size: 1.7rem;
    letter-spacing: -1px;
    padding-top: 60px;
    padding-left: 0px;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.43);
}
#atuacoes{
    padding-left: 0px;
}  

.text_h3{
    color: darkgreen;
    font-family: var(--second-font);
    text-align: left;
    margin-top: 10px;
    letter-spacing: -1px;
    font-weight: bold;
    
    
}
#blue{
    color: #557DFF;
}
#yellow{
    color: rgb(173, 173, 11);
}
#purple{
    color: purple;
}
#pink{
    color: rgb(247, 118, 140);
}
.conteiner_atuacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(178, 190, 206);
    padding: 0px;
    width: 190px;
    height: 200px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.container{
    margin-top: 70px;
}
.text_cards2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: -2px;
    margin-bottom: 70px;
    border-bottom: 3px solid rgb(178, 190, 206);
}
#text_sessao{
    font-size: 1.3rem;
    font-family: var(--second-font);
    width: 400px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* sessão dos formulários */
#form_user{
    height: 100vh;
    width: 100%;
    background-color: var(--gray-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.772);
}
/* texto titulo da sessão */

#form_text{
    font-family: var(--second-font);
    font-weight: bolder;
    width: 70%;
    padding-top: 80px;
    font-size: 1.8rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.43);
}
#colorGray{
    color: var(--grayclear-color);
}
#colorGreen{
    color: rgb(22, 231, 22);
}
/* formulários */
.styleForm{
    font-family: var(--second-font);
    font-weight: lighter;
    color: white;
    letter-spacing: 1px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
#mensagem{
    border: 1px solid #557DFF;
    border-radius: 5px; 
    padding: 10px;
    margin-top: 20px;
}
#usuário_nome{
    margin-top: 10px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid#557DFF;
}
#usuário_email{
    padding: 6px;
    border-radius: 5px;
    border: 1px solid#557DFF;
    padding-right: 30px;
}
/* botão */
#btn2{
    border: none;
    background-color: #557DFF;
    width: 60%;
    height: 10%;
    border-radius: 10px;
    font-family: var(--second-font);
    font-size: 1rem;
    color: white;
    margin-top: 30px;
    text-align: center;
}
/* #btn2:hover{
    background-color: white;
    color: var(--blue-color);
    
} */
/* footer */
#rodape{
    border-top: 6px solid var(--redDark-color);
    padding-bottom: 10px;
}
.iconSize{
    height: 30px;
}
#text_rodape{
    font-family: var(--second-font);
    color: #541010;
    text-align: center;
    letter-spacing: 0px;
    font-weight: bold;
}
#cont_img{
    display: flex;
    justify-content: center;
    gap: 10px;
}
#redes_sociais{
    margin-top: 5px;
    margin-left: 20px;
}
#containeFooter{
    margin-right: 10px;
    display: flex;
    
}